* {
    margin: 5px; 
    padding: 2px;
    box-sizing: border-box;
}
html {
    background-color: rgb(207, 206, 204);
}
body {
    font-family: 'comic sans ms', 'Arial', sans-serif;
}
a {
    color: black;
    font-weight: bold;
}

header {
    color: black;
    background-color: rgb(216, 216, 216);
    text-align: center;
    padding: 10px;
    min-height: 70px;
    width: 100%;
    border: 1px solid rgb(116, 110, 110);

    
}
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    padding: 10px;
}
.background {
    background-color: rgb(216, 216, 216);
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(116, 110, 110);
}

img {
    height: 300px;
    width: 300px;
}

/* Footer styles */
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    padding: 1px;
    margin-top: 20px;
    color:black;
    border-top: #000 1px solid;
    background-color: rgb(216, 216, 216);
    text-align: center;

}
