* {
    margin: 5px;
    padding: 2px;
    box-sizing: border-box;
}
html {
    background-color: rgb(207, 206, 204);
}
body {
    font-family: 'comic sans ms', 'Arial', sans-serif;
}
a {
    color: black;
    font-weight: bold;
}
